[submodule "third_party/volk"]
	path = third_party/volk
	url = git@github.com:Kkaiwz/volk.git
[submodule "third_party/glm"]
	path = third_party/glm
	url = git@github.com:Kkaiwz/glm.git
[submodule "third_party/stb"]
	path = third_party/stb
	url = git@github.com:Kkaiwz/stb.git
[submodule "third_party/imgui"]
	path = third_party/imgui
	url = git@github.com:Kkaiwz/imgui.git
[submodule "third_party/tinygltf"]
	path = third_party/tinygltf
	url = git@github.com:Kkaiwz/tinygltf.git
[submodule "third_party/glfw"]
	path = third_party/glfw
	url = git@github.com:Kkaiwz/glfw.git
[submodule "third_party/glslang"]
	path = third_party/glslang
	url = git@github.com:Kkaiwz/glslang.git
[submodule "third_party/spirv-cross"]
	path = third_party/spirv-cross
	url = git@github.com:Kkaiwz/SPIRV-Cross.git
[submodule "third_party/hwcpipe"]
	path = third_party/hwcpipe
	url = git@github.com:Kkaiwz/HWCPipe.git
[submodule "third_party/vma"]
	path = third_party/vma
	url = git@github.com:Kkaiwz/VulkanMemoryAllocator.git
[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = git@github.com:Kkaiwz/spdlog.git
[submodule "third_party/ktx"]
	path = third_party/ktx
	url = git@github.com:Kkaiwz/KTX-Software.git
[submodule "third_party/astc"]
	path = third_party/astc
	url = git@github.com:Kkaiwz/astc-encoder.git
[submodule "third_party/CTPL"]
	path = third_party/CTPL
	url = git@github.com:Kkaiwz/CTPL.git
[submodule "third_party/vulkan"]
	path = third_party/vulkan
	url = git@github.com:Kkaiwz/Vulkan-Headers.git
[submodule "assets"]
	path = assets
	url = git@github.com:Kkaiwz/Vulkan-Samples-Assets.git
	shallow = true
[submodule "third_party/cli11"]
	path = third_party/cli11
	url = git@github.com:Kkaiwz/CLI11.git
[submodule "third_party/opencl"]
	path = third_party/opencl
	url = git@github.com:Kkaiwz/OpenCL-Headers.git
[submodule "third_party/catch2"]
	path = third_party/catch2
	url = git@github.com:Kkaiwz/Catch2.git
